@page "/telerikautocomplete"
@using Blazored.Typeahead
@using GoogleApi.Entities.Places.Common

@namespace GoogleAutoCompleteDemo.Pages

<h3>TelerikAutoComplete</h3>

@*<TelerikAutoComplete Data="@AddressOptions" @bind-Value="@SelectedOptionId"
	Placeholder="Start typing address or PoI" ClearButton="true"
	TItem="Prediction"
	OnChange="@(async (string v) => {PredictionSelected(v); await OnDestinationChanged();})" >
</TelerikAutoComplete>
*@
@code {

}
